@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
.redes-sociais {
    display:flex;
    /* justify-content: center; */
    /* align-items:center; */
    flex-direction: column;
    /* height: 100vh; */
    font-size: 25px;
    /* background-color: rgba(157, 157, 157, 0.2); */
    position: fixed;
    font-family: 'Roboto', sans-serif;
    /* color: aliceblue; */
    z-index:1;
}

.box {
    width: 65px;
    height: 68px;
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 0.6rem;
    position: relative;
    overflow: hidden;
    transition: all .4s ease;
}
.box:hover {
    width: 200px;
    background: #c32aa3;
    border-radius: 35px;
    color:#f1f1f1;
    box-shadow: 0 0 50px #b315917c;
}
.box:nth-child(2):hover{
    background: #1877f2;
    box-shadow: 0 0 50px #1876f285;
}
.redes-sociais a p {
    font-style: none;
    color:#f1f1f1;

}
.redes-sociais p {
    transform: translate(60px);
}
.box .icon {
    position: absolute;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    border-radius: 50%;
    margin-right: 10px;
    transition: all .4s ease;
}
.instagram {
    background-color: #c32aa3;
}
.facebook{
    background-color: #1877f2;
}
.box:hover .icon {
    background: #fff;
    color: #3b3b3b;
    box-shadow: 0 0 10px rgba(0, 0, 0, 26);
}
/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-header img {
    max-width: 40px;
    margin-top: 0.5rem;
}

.navbar_logo {
    width: 100px;
} 

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}

.header header{
    display: flex;
    justify-content: center;
    max-width: 1120px;
    margin: 0 auto;
    padding: 2.5rem;
}

.header img {
    max-width: 100px;
    margin-top: 3rem;
}

.titulo h1{
    text-align: center;
    padding: 50px;
    color: black;
}

#imgusabilidade{
    align-items: center;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
.sidenav {
    height: auto;
    padding: 15px;
}
.row.content {height:auto;} 
}